body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 40px;
}

#listaTareas .row {
    margin-bottom: 15px;
}

#listaTareas .border {
    border-width: 1px !important;
}

#listaTareas img {
    max-width: 100%;
    height: auto;
}
